.card {
    padding: 0px;
    gap: 26px;

    max-width: 360px;

    text-decoration-line: none;
    text-decoration: none;
    font-size: 26px;
    line-height: 34px;
    display: flex;
    flex-direction: column;

    &__image {
        width: 350px;
        height: 350px;
    }

    &__container {
        padding: 0px;
        gap: 18px;

        width: 346px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        width: 346px;

        color: #151411;
    }

    &__subtitle {
        width: 346px;

        margin-top: -12px;

        font-size: 18px;
        line-height: 30px;

        color: #AFADB5;
    }

    &__content {
        margin-top: -12px;
        margin-bottom: auto;

        color: #151411;
    }
}