@use "../../../../src/utils/colors";

.header {

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    height: 120px;
    border-bottom: 2px solid colors.$white-grey;
    background-color: colors.$white;

    &__icon {
        position: absolute;
        height: 42px;
        left: 100px;
        top: 39px;
    }

    &__link {
        text-decoration: none;
    }

    &__text {
        color: colors.$black;
        font-size: 18px;
        line-height: 180%;

        margin-left: 30px;
        margin-right: 30px;

        &:hover {
            color: colors.$green;

            &~.header__line {
                visibility: visible;
            }
        }
    }

    &__line {
        content: "";
        position: relative;
        box-sizing: content-box;
        visibility: hidden;
        top: 42px;
        background-color: colors.$green;
        height: 2px;
        width: 60%;
        left: 50%;
        transform: translateX(-50%);
    }

    &__cart {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 154px;
        top: 45px;
    }

    &__user {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 100px;
        top: 45px;
    }
}