.header {
    $border-color: #F3F3F3;
    $choice-accent: #518581;
    $text-color: #151411;
    $background-color: #FFFFFF;

    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;

    position: sticky;
    height: 120px;
    border-bottom: 2px solid $border-color;
    background-color: $background-color;

    font-family: 'Eudoxus Sans';
    font-style: normal;

    &__icon {
        position: absolute;
        height: 42px;
        left: 100px;
        top: 39px;
    }

    &__link {
        text-decoration: none;
    }

    &__text {
        color: $text-color;
        font-weight: 500;
        font-size: 18px;
        line-height: 180%;

        margin-left: 30px;
        margin-right: 30px;

        &:hover {
            color: $choice-accent;

            &~.header__line {
                visibility: visible;
            }
        }
    }

    &__line {
        content: "";
        position: relative;
        box-sizing: content-box;
        visibility: hidden;
        top: 27px;
        background-color: $choice-accent;
        height: 2px;
        width: 60%;
        left: 50%;
        transform: translateX(-50%);
    }

    &__cart {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 154px;
        top: 45px;
    }

    &__user {

        position: absolute;
        width: 30px;
        height: 30px;
        right: 100px;
        top: 45px;
    }
}