.header {
    height: 120px;
    border-bottom: 2px;
    border-color: #F3F3F3;
}

.storeName {
    margin: auto;
    text-align: center;
    font-size: 60px;
}

.allProducts {
    margin-left: 20px;
}
