.title {
    margin: auto;
    text-align: center;
    font-size: 64px;
    line-height: 130%;
}

.subtitle {
    color: #AFADB5;
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-size: 18px;
    line-height: 180%;
}