@use "../../../../src/utils/colors";

.multidropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__button {

        height: 86px;
        width: 100%;
        padding: 13px;
        flex: none;

        font-size: 18px;
        line-height: 19px;

        border: 0px;

        color: colors.$black;

        background: colors.$white;
        box-shadow: 0px 4px 120px rgba(175, 173, 181, 0.15);

        &:disabled {
            opacity: 0.7;
        }
    }

    &__itembox {
        width: auto;
        position: absolute;
        top: 380px;

        background: colors.$white;
        border: 1px solid colors.$white-grey;

        box-shadow: 0px 4px 120px rgba(175, 173, 181, 0.15);
    }

    &__item {
        padding: 10px 10px;
        width: 100%;
        list-style-type: none;
        background: colors.$white;
        font-size: 14px;
        line-height: 18px;

        &_selected {
            color: colors.$green;
        }
    }
}