@use "../../../../src/utils/colors";

.count {
    display: flex;
    align-items: center;
    justify-items: center;

    margin: 10px 0 10px min(135px, 10%);


    &__title {
        font-size: 44px;
        line-height: 57px;
        color: colors.$black;
    }

    &__number {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 10px 16px;
        gap: 10px;
        width: 60px;
        height: 30px;
        background: colors.$white-grey;
        border-radius: 20px;
        font-size: 16px;
        line-height: 21px;
        color: colors.$green;
    }
}