.button {
    width: 138px;
    height: 54px;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
}

.button.button_color-primary {
    background: #518581;
}

.button:hover {
    background: #71A5A1;
}

.button.button_disabled {
    background: #D9D9D9;
}

.button.button_loading {
    background: #D9D9D9;
}