@use "../../../../src/utils/colors";

.search {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 20px;
    width: 100%;

    &__form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        margin: auto;
        max-width: 1144px;
        width: 100%;
        border: 1px solid colors.$white;
        padding-right: 10px;

        &:focus-within {
            border-color: colors.$green;
        }
    }

    &__dropdown {
        width: 200px;
    }

    &__input {
        flex-grow: 10;
        border: none;
        max-width: 1024px;
        width: 100%;

        &:focus {
            border: none;
        }
    }

    &__button {
        flex: none;
    }
}