.search {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;

    &__form {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
    }

    &__input {
        position: relative;
        right: 10%;
        border: none;
        max-width: 1024px;
        width: 100%;
    }

    &__button {
        position: relative;
        right: 20%;
    }
}