@use "/src/utils/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //outline: 1px solid red;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Eudoxus Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-style: normal;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: colors.$white;
}